.container{
    margin: 0 auto;
}

.service_boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service_box{
    max-width: 398px;
    max-height: 350px;
    color: transparent;
}

.box__title{
    bottom: 0;
    backdrop-filter: blur(30px);
    padding: 5px;
    background: rgba(182, 182, 182, 0);
    color: #1D2A4D !important;
}

.box-text-benefits1{
    padding-bottom: 6em !important;
}
.box-text-benefits2{
    padding-bottom: 8em !important;
}

.box-text{
    color: white;
    font-size: 18px !important;
}

.box_image{
     max-width:500px;
}

/* Общие стили */
*, *:after, *:before { 
	box-sizing: border-box; 
}
.clearfix:before, .clearfix:after { 
	content: ''; 
	display: table; 
}
.clearfix:after { 
	clear: both; 
}
.hover-text-one {
	overflow: hidden;
	margin: 0;
	width: 100%;
	list-style: none;
	text-align: center;
}

.box-text-benefits{
    font-size: 14px !important;
}

.hover-text-one1{
    margin-top: -20px;
}
.hover-text-one figure {
	position: relative;
	z-index: 1;
	display: inline-block;
	overflow: hidden;
	background: #527c82;
	text-align: center;
	cursor: pointer;
}
.hover-text-one figure img {
	position: relative;
	display: block;
	min-height: 100%;
	opacity: 0.8;
}
.hover-text-one figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.hover-text-one figure figcaption::before,
.hover-text-one figure figcaption::after {
	pointer-events: none;
}
.hover-text-one figure figcaption{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.hover-text-one figure h3 {
	word-spacing: -0.10em;
	font-weight: 300;
}
.hover-text-one figure h3 span {
	font-weight: 800;
}
.hover-text-one figure h3,
.hover-text-one figure p {
	margin: 0;
}
.hover-text-one figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/* Эффект при наведении */
figure.effect-text-two figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(top, rgba(72,76,97,0) 0%, rgba(154, 155, 165, 0.8) 75%);
	background: linear-gradient(to bottom, rgba(72,76,97,0) 0%, rgba(139, 139, 139, 0.8) 75%);
	content: '';
	opacity: 1;
	-webkit-transform: translate3d(0,50%,0);
	transform: translate3d(0,50%,0);
}
figure.effect-text-two h3 {
	position: absolute;
	left: 0;
	width: 100%;
	color: #1D2A4D !important;
	-webkit-transition: -webkit-transform 0.35s, color 0.35s;
	transition: transform 0.35s, color 0.35s;
	-webkit-transform: translate3d(0,-50%,0);
	transform: translate3d(0,-50%,0);
}
figure.effect-text-two figcaption::before,
figure.effect-text-two p {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}
figure.effect-text-two p {
	position: absolute;
    bottom: 0;
	left: 0;
	padding-bottom: 2em;
    padding-left: 1rem;
    padding-right: 1rem;
	width: 100%;
	opacity: 0;
	-webkit-transform: translate3d(0,10px,0);
	transform: translate3d(0,10px,0);
}
.box-text1 {
	position: absolute;
    bottom: 0;
	left: 0;
	padding-bottom: 9em !important;
    padding-left: 1rem;
    padding-right: 1rem;
	width: 100%;
	opacity: 0;
	-webkit-transform: translate3d(0,10px,0);
	transform: translate3d(0,10px,0);
}
.box-text2 {
	position: absolute;
    bottom: 0;
	left: 0;
	padding-bottom: 6em !important;
    padding-left: 1rem;
    padding-right: 1rem;
	width: 100%;
	opacity: 0;
	-webkit-transform: translate3d(0,10px,0);
	transform: translate3d(0,10px,0);
}
figure.effect-text-two:hover h3 {
    margin-bottom: 180px;
    font-weight: bold;
	color: #fff;
	-webkit-transform: translate3d(0,-100%,0) translate3d(0,-40px,0);
	transform: translate3d(0,-120%,0) translate3d(0,-40px,0);
}
figure.effect-text-two:hover .box__title1 {
    margin-bottom: 240px;
    font-weight: bold;
	color: #fff;
	-webkit-transform: translate3d(0,-100%,0) translate3d(0,-40px,0);
	transform: translate3d(0,-120%,0) translate3d(0,-40px,0);
}
figure.effect-text-two:hover .box__title-benefits1 {
    margin-bottom: 120px;
    font-weight: bold;
	color: #fff;
	-webkit-transform: translate3d(0,-100%,0) translate3d(0,-40px,0);
	transform: translate3d(0,-120%,0) translate3d(0,-40px,0);
}
figure.effect-text-two:hover .box__title-benefits {
    margin-bottom: 240px;
    font-weight: bold;
	color: #fff;
	-webkit-transform: translate3d(0,-100%,0) translate3d(0,-40px,0);
	transform: translate3d(0,-120%,0) translate3d(0,-40px,0);
}



figure.effect-text-two:hover figcaption::before,
figure.effect-text-two:hover p {
    background: rgba(182, 182, 182, 0);
    backdrop-filter: blur(2px);
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
